{{> header title='Error' }}
<main class="error-container">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    {{#if error.stack}}
        <pre>{{error.stack}}</pre>
    {{/if}}
</main>
{{> footer}}
